<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: black;
        padding: 10px;
    }
    nav a {
        text-decoration: none;
        color: aliceblue;
    }
    .activa {
        color: rgb(203, 28, 63) !important;

    }
</style>
<nav>
    <a routerLink="counter" routerLinkActive="activa">Contador</a>
    <a routerLink='hero' routerLinkActive="activa">Hero</a>
    <a routerLink='dragonball' routerLinkActive="activa">Dragonball</a>
    <a routerLink='dragonball-super' routerLinkActive="activa">DragonSuperball</a>


    

</nav>
