<h3>{{titulo()}}</h3>
<ol>
    @for (character of characters(); track character.id;let idx=$index) {
                    <li>
                     @if (character.power < 1000) {
                        <span >"Aqui no hay nadie"</span>    

                     }@else {
                    <span >{{idx +1}} - {{character.name}}  </span>    

                     }
                    <!-- <strong [class.text-danger]="character.power>5000">{{character.power}}</strong> -->
                     <strong [ngClass]="powerClasses()">
                        {{character.power}}
                     </strong>
                    </li>

    }
  
</ol>